*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;

    transition: 0.5s all;

    transform-origin: center center;
    animation: normal;
    overflow: auto;
}

html {
    font-size: 10px;
}

body {
    background-color: #f5f6fa;
    color: #3d3d3d;
    overflow-y: hidden;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.hexagon-container {
    margin: auto;
    position: relative;
    box-sizing: content-box;
    transition: 1s all;
}

.hexagon-block {
    transition: 1s all;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hexagon-block svg {
    stroke: #BBADA0;
}


.hexagon-block svg polygon {
    margin: auto;
}

.hexagon-block-text {
    stroke: #3d3d3d;
    font-weight: 900;
    font-size: 3rem;
}
.hexagon-block-text-light {
    stroke: #FFFFFF;
    color: #FFFFFF;
    fill: #FFFFFF;
    outline: none;
    border: none;
    font-weight: 900;
    font-size: 3rem;
}

.hexagon-block-fill-undefined {
    fill: transparent;
}

.hexagon-block-fill-2 {
    fill: #EEE4DA;
}

.hexagon-block-fill-4 {
    fill: #EEE1C9;

}

.hexagon-block-fill-8 {
    fill: #F3B27A;
}

.hexagon-block-fill-16 {
    fill: #F69664;
}

.hexagon-block-fill-32 {
    fill: #F77C5F;
}

.hexagon-block-fill-64 {
    fill: #F75F3B;
}

.hexagon-block-fill-128 {
    fill: #eb4d4b;
}

.hexagon-block-fill-256 {
    fill: #eb4d4b;
}

.hexagon-block-fill-512 {
    fill: #d63031;
}

#result {
    position: absolute;
    top: 0;
    right: 0;
    margin: 25px;
    width: 100px;
    height: 100px;
    background-color: #2c3e50;

    color: #ecf0f1;
    border-radius: 15px;

    display: flex;

    font-size: 4rem;
    font-weight: 900;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.small-in {
    transition: 0.5s all;
    transform: scale(0.1);
    transform-origin: center center;
    animation: normal;
}

.small {
    transition: 0.25s all;
    transform: scale(0.85, 0.85);
    transform-origin: center center;
    margin: auto;
    z-index: 1000;
    text-align: center;
    align-self: center;
    animation: normal;
}

.small-new
{
    transition: 0.25s all;
    transform: rotate(45deg);
    transform-origin: center center;
    margin: auto;
    z-index: 1000;
    text-align: center;
    align-self: center;
    animation: normal;
}
